<div class="payment-box">
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Enter Name" [(ngModel)]="personName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Enter Email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Enter Street" [(ngModel)]="address.line1">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Enter City" [(ngModel)]="address.city">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Enter State" [(ngModel)]="address.state">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Enter Country" [(ngModel)]="address.country">
  </div>
  <div id="card"></div>
  <div class="mt-2" id="card-errors" role="aleart"></div>
  <button id="button" class="btn btn-primary btn-sm mt-4" [disabled]="inputError">
    Pay
  </button>
</div>